<div class="container">

  <div *ngIf="isLogged | async" class="logged-in">
    <div> {{ loggedEmail | async }} You have been successfully logged in! </div>
  </div>

  <div *ngIf="!(isLogged | async)">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <h2>Login</h2>
      <div class="input-container">
        <input
          class="first"
          type="text"
          name="email"
          placeholder="E-mail"
          formControlName="email"
          [class.invalid]="isError('email')"
        >
        <p class="error" *ngIf="emailError('required')">E-mail is required</p>
        <p class="error" *ngIf="emailError('pattern')">E-mail is invalid</p>
      </div>
      <div class="input-container">
        <input
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          [class.invalid]="isError('password')"
        >
        <p class="error" *ngIf="passwordError('required')">Password is required</p>
        <p class="error" *ngIf="passwordError('pattern')">
          Password must be at least 6 characters long and contain at least 1 number, 1 lowercase letter and 1 uppercase letter.
        </p>
      </div>
      <div *ngIf="(errors | async).length" class="height-auto">
        <div *ngFor="let error of (errors | async)" class="height-auto">
          <p class="error">{{ error }}</p>
        </div>
      </div>
      <input type="submit" value="Submit" class="submit-button">
    </form>
  </div>

</div>

