<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <fieldset>
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" formControlName="email" required>
    <p class="error" *ngIf="emailError('required')">E-mail is required</p>
    <p class="error" *ngIf="emailError('pattern')">E-mail is wrong</p>
    <label for="password">password</label>
    <input type="password" name="password" id="password" formControlName="password">
    <p class="error" *ngIf="passwordError('required')">Password is required</p>
    <p class="error" *ngIf="passwordError('pattern')">
      Password must be at least 6 characters long and contain at least 1 number, 1 lowercase letter and 1 uppercase letter.
    </p>
    <label for="remember">Remember me</label>
    <input type="checkbox" name="remember" id="remember">
    <input type="submit" value="login">
  </fieldset>
</form>
<div *ngIf="(errors | async).length">
  <div *ngFor="let error of (errors | async)">
    <p class="error">{{ error }}</p>
  </div>
</div>

